<div id="navbar">
	<div id="nav-belt">
		<div class="nav-left">
			<div id="nav-logo">
				<a class="" href="/">Tikee</a>
			</div>
		</div>
		<div class="nav-fill">
			<div id="nav-search">
				<form>
					<div class="nav-left">
						<a class="" href="">All</a>
					</div>
					<div class="nav-fill">
						<div id="nav-search-field">
							<input
								type="text"
								id="twotabsearchtextbox"
								value=""
								name="field-keywords"
								autocomplete="off"
								placeholder=""
								class="nav-input"
								dir="auto"
								tabindex="0"
								aria-label="Search"
							/>
						</div>
					</div>
					<div class="nav-right">
						<div class="nav-search-submit nav-sprite">
							<span
								id="nav-search-submit-text"
								class="nav-search-submit-text nav-sprite"
								aria-label="Go"
							>
								<input
									type="submit"
									class="nav-input"
									value="Go"
									tabindex="0"
								/>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="nav-right">
			<div id="nav-tools">
				<a class="" href="">Language</a>
				<a class="" href="">Log in</a>
				<a class="" href="">Cart</a>
			</div>
		</div>
	</div>

	<div id="nav-main">
		<div class="nav-left">
			<a class="" href="">All</a>
		</div>
		<div class="nav-fill"></div>
		<div class="nav-right"></div>
	</div>
</div>
