<!-- start of sidebar -->
<div class="sidebar-overlay">
    <aside class="sidebar">
        <!-- close -->
        <button class="sidebar-close">
            <svg fill="#111" height="1rem" width="1rem" viewBox="0 0 24 24">
                <path
                    d="M15.04 12L24 2.96 21.04 0 12 8.96 3.04 0 0 2.96 9.04 12 0 20.96 3.04 24 12 14.96 21.04 24 24 20.96z">
                </path>
            </svg>
        </button>
        <!-- links -->
        <ul class="sidebar-links">
            <li>
                <a href="index.html" class="sidebar-link">
                    home
                </a>
            </li>
            <li>
                <a href="products.html" class="sidebar-link">
                    all
                </a>
            </li>
            <li>
                <a href="about.html" class="sidebar-link">
                    men
                </a>
            </li>
            <li>
                <a href="about.html" class="sidebar-link">
                    women
                </a>
            </li>
            <li>
                <a href="about.html" class="sidebar-link">
                    kids
                </a>
            </li>
            <li>
                <a href="about.html" class="sidebar-link">
                    about
                </a>
            </li>
            <li>
                <a href="about.html" class="sidebar-link">
                    log in
                </a>
            </li>
        </ul>
    </aside>
</div>
<!-- end of sidebar -->