<h1>Login</h1>

<% if (typeof id !== 'undefined' && id) { %>
<h2>Your new account ID is <%= id %>.</h2>
<% } %> <% if (typeof error !== 'undefined' && error) { %>
<h2><%= error.message %></h2>
<% } %>

<form method="post" action="/users/login">
	<p>
		<label for="email">Email: </label>
		<input type="email" id="email" name="email" required />
	</p>

	<p>
		<label for="password">Password: </label>
		<input type="password" id="password" name="password" required />
	</p>

	<p>
		<button type="submit">Log in</button>
	</p>
</form>

<a href="/users/register">Register</a>
