<!DOCTYPE html>
<html>
	<head>
		<title>Me</title>
	</head>
	<body>
		<script>
			/*const token = document.cookie.split("=")[1];
			async function mePOST(url) {
				const response = await fetch(url, {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						Authorization: "Bearer " + token,
					},
				});

				if (!response.ok) {
					throw new Error(`HTTP error! status: ${response.status}`);
				} else {
					return await response.json();
				}
			}

			mePOST("http://localhost:3000/users/me").then((json) => {
				let para = document.createElement("p");
				para.textContent = "hello";
				docum*ent.body.appendChild(para);
			});*/
		</script>
	</body>
</html>
