<h1>Register</h1>

<% if (typeof error !=='undefined' && error) { %>
	<h2>
		<%= error.message %>
	</h2>
	<% } %>

		<form action="/user/register" method="POST">
			<p>
				<label for="firstname">First name: </label>
				<input type="text" id="firstname" name="firstname" required />
			</p>

			<p>
				<label for="middlename">Middle name: </label>
				<input type="text" id="middlename" name="middlename" />
			</p>

			<p>
				<label for="lastname">Last name: </label>
				<input type="text" id="lastname" name="lastname" required />
			</p>

			<p>
				<label for="email">Email: </label>
				<input type="email" id="email" name="email" required />
			</p>

			<p>
				<label for="password">Password: </label>
				<input type="password" id="password" name="password" required />
			</p>

			<p>
				<label for="phonenumber">Phone number: </label>
				<input type="tel" id="phonenumber" name="phonenumber" required />
			</p>

			<p>
				<button type="submit">Register</button>
			</p>
		</form>

		<a href="/user/login">Log in</a>