* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
	color: white;
	background: black;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
}

label {
	display: block;
}

footer {
	margin-top: auto;
}

h1,
main,
a,
footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	width: auto;
}
