header {
	height: 3rem;
	background: #232f3e;
	display: flex;
}

#navbar {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

#nav-belt .nav-left #nav-logo a {
	justify-content: flex-start;
	color: white;
	font: 2rem bold;
	text-transform: lowercase;
	letter-spacing: 0.1rem;
}

#nav-belt {
	display: flex;
	justify-content: space-between;
}

#nav-belt .nav-fill {
	display: flex;
	flex: 1;
}

#nav-search {
	display: flex;
	flex: 1;
}

#nav-search > form {
	display: flex;
	flex: 1;
	justify-content: space-between;
}

#nav-search-field {
	display: flex;
	flex: 1;
}

#nav-search-field > input {
	flex: 1;
	padding: 7px 10px 10px 0;
}

#nav-belt > .nav-right {
	justify-content: flex-end;
	align-items: center;
}

#nav-tools {
	display: flex;
	justify-content: flex-end;
}
